<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UI.Properties.Settings.ConexionKiosko" connectionString="Data Source=SEIDOR005\SQLEXPRESS;Initial Catalog=KIOSKO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>